
@{
    ViewData["Title"] = "Exam Creation";
}

<!-- Body Container -->
<div id="div_container_body">

    <!-- List of Exams -->
    <div id="div_list_exams">
        <h3 id="h_exam_title"> Exams </h3>
        <hr id="hr_toolbar" />
        <button class="button_exam_list"> Exam CS_458 </button>
        <br />
        <button class="button_exam_list"> Exam CS_325 </button>
        <br />
        <button class="button_exam_list"> Exam CS_111 </button>
        <br />
        <button class="button_exam_list"> Exam CS_458 </button>
        <br />
        <button class="button_exam_list"> Exam CS_325 </button>
        <br />
        <button class="button_exam_list"> Exam CS_111 </button>
        <br />
        <button class="button_exam_list"> Exam CS_458 </button>
        <br />
        <button class="button_exam_list"> Exam CS_325 </button>
        <br />
        <button class="button_exam_list"> Exam CS_111 </button>
        <br />
    </div>

    <!-- Create a Question -->
    <div id="div_question_create">
        <h3 id="h_create_title"> Create A Question </h3>
        <input id="input_question_name" type="text" name="question_name" placeholder="Question Title..." required="required" />
        <br />
        <br />
        <select id="select_question_type" name="question_type" onchange="Clicked_QuestionType()">
            <option value="multiple_choice" selected="selected"> Multiple Choice </option>
            <option value="fill_in_blank"> Fill in the Blank </option>
            <option value="long_answer"> Long Answer </option>
        </select>
        <hr id="hr_toolbar" />

        <!-- Multiple Choice Div -->
        <div id="div_multiple_choice" class="div_edit_question">
            <h5 class="h_question_type"> Multiple Choice </h5>
            <p class="p_notes"> Enter the question which will be shown on the exam: </p>
            <textarea class="question_text" placeholder="Question Text..."></textarea>
            <br />
            <h5 class="h_question_type"> Answers </h5>
            <p class="p_notes"> (Enter answers seperated by commas) </p>
            <textarea class="answer_text" placeholder="Answer Text..."></textarea>
            <hr id="hr_toolbar" />
            <button id="button_add_question"> Add Question </button>
        </div>

        <!-- Fill in the Blank Div -->
        <div id="div_fill_in_the_blank" class="div_off_question">
            <h5 class="h_question_type"> Fill In The Blank </h5>
            <p class="p_notes"> Enter the question which will be shown on the exam: </p>
            <p class="p_notes"> (Use * for the blank word) </p>
            <textarea class="question_text" placeholder="Question Text..."></textarea>
            <hr id="hr_toolbar" />
            <button id="button_add_question"> Add Question </button>
        </div>

        <!-- Long Answer Div -->
        <div id="div_long_answer" class="div_off_question">
            <h5 class="h_question_type"> Long Answer </h5>
            <p class="p_notes"> Enter the question which will be shown on the exam: </p>
            <textarea class="question_text" placeholder="Question Text..."></textarea>
            <hr id="hr_toolbar" />
            <button id="button_add_question"> Add Question </button>
        </div>

        <!-- New Exam Popup Div -->
        <div id="div_new_exam" class="div_new_exam_off">
            <h3 id="h_new_exam"> New Exam </h3>
            <hr id="hr_toolbar" />
            <form>
                <input id="input_new_exam_name" name="exam_name" placeholder="Exam Name..." required="required" />
                <br />
                <br />
                <input id="submit_new_exam" type="submit" value="Create Exam" />
                <br />
                <hr id="hr_toolbar" />
                <button id="button_cancel_exam" onclick="Clicked_CancelExam()"> Cancel </button>
            </form>
        </div>

    </div>

    <!-- List of Questions -->
    <div id="div_list_question">
        <h3 id="h_list_question"> Questions </h3>
        <hr id="hr_toolbar" />
        <button class="button_question_list"> Question 1 </button>
        <button class="button_question_list"> Question 2 </button>
        <button class="button_question_list"> Question 3 </button>
        <button class="button_question_list"> Question 1 </button>
        <button class="button_question_list"> Question 2 </button>
        <button class="button_question_list"> Question 3 </button>
        <button class="button_question_list"> Question 1 </button>
        <button class="button_question_list"> Question 2 </button>
        <button class="button_question_list"> Question 3 </button>
    </div>
</div>

