@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     
    <div class="jumbotron">
        <h1>Welcome to Test Creator!</h1>
        <p> Test Creater is a test generator that creates exam, test, and quizzes,
        as  fast as you can input the information. Test Creater is not only a generator
        but grade-book as well. Saving students scores upon completion, and calculating
        an average percent of all text/quiz scores.</p>
        <p>  </p>

    </div>

</div>


    
