@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <div class="card">
     
        <div class="card-header">
            <h1>Welcome to Test Creator!</h1>
            <p>
                Test Creater is a test generator that creates exam, test, and quizzes,
                as  fast as you can input the information. Test Creater is not only a generator
                but grade-book as well. Saving students scores upon completion, and calculating
                an average percent of all text/quiz scores.
            </p>
        </div>
        <div class="card-body">
            <div class="text-center" >
                <img src="/images/Gphoto.jpg" alt="Gphoto" width="600" height="400" />
                </div>
            </div>
        </div>
        <div class="card-footer">Brought to by: Jakob Flethcer, Brandon Menyes, Jacqueline Ortiz, Mikel Mayogra</div>
    </div>
</div>
