@using DataLibrary.Models
@model DataLibrary.Models.ExamModel

<script>
	function createDocument()
	{

	}
</script>
<div class="sidenav">

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-file-text-o" aria-hidden="true"></i>
  Create New Document
</button>


	<hr />

	<button type="button" class="btn btn-primary">
	<i class="fa fa-address-book-o" aria-hidden="true"></i>My Courses</button>

	<button type="button" class="btn btn-primary">
	<i class="fa fa-search" aria-hidden="true"></i>Search Documents</button>

	<button type="button" class="btn btn-primary">
	<i class="fa fa-download" aria-hidden="true"></i>Import File</button>

  <button type="button" class="btn btn-primary">
  <i class="fa fa-download" aria-hidden="true"></i>Create New Class</button>

</div>

<div class="center">

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <label for="exampleInputEmail1">Document Name:</label>
    	<input type="email" class="form-control" name="documentName" id="documentName" aria-describedby="emailHelp" placeholder="Document Name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create Document</button>
      </div>
    </div>
  </div>
</div>
