
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Instructor" asp-action="Index">My Classrooms</a>
    </li>
    <li>
    	<a class="nav-link" asp-controller="Instructor" asp-action="user_test_creator">My Dashboard</a>
    </li>
</ul>
