<form method="post">
    <div class="">
        <label>Email</label>
        <input class="form-control" id="emailTextBox"/>
        <span id="emailSpan"></span>
    </div>
    <div class="">
        <label>Password</label>
        <input type="password" class="form-control" id="passwordTextBox"/>
        <span id="passwordSpan">`</span>
    </div>
    <div class="">
        <label>Remember Me</label>
        <input type="checkbox" id="rememberMeCheckbox"/>
    </div>

    @*<div class="input-group">
        <button type="button" class="btn btn-primary" id="login">Log in</button>
    </div>*@
    @*<div class="form-group">
        <p>
            <a asp-page="./ForgotPassword">Forgot your password?</a>
        </p>
        <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
        </p>
    </div>*@
</form>
