
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Student" asp-action="Dashboard">Student Dashboard</a>
</li>
